# Django and core dependencies
asgiref==3.8.1
Django==5.2.1
Pillow==11.2.1
django-crispy-forms==2.4
crispy-tailwind==1.0.3
django-cors-headers==4.7.0
django-filter==25.1
django-tailwind==4.0.1
djangorestframework==3.16.0
sqlparse==0.5.3
tzdata==2025.2
pytz==2024.1

# Production dependencies
whitenoise==6.6.0
gunicorn==21.2.0
python-dotenv==1.0.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9  # PostgreSQL adapter for Python
